.Appoint-card {
  background-color: #F3EFE0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #222222;
  padding: 16px;
  text-align: center;
  background-color: #F3EFE0;
  margin: 10px;
  max-width: 40%;
}

.card-top {
  background-color: #E0E0E0;
  height: 150px;
  width: 100%;
}

.card-info {
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222222;
}
.Appoint-card .distenations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Appoint-card .price{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-top: 5px;
}
.Appoint-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Appoint-card p {
  font-size: 1.2rem;
   margin: 10px 0;
}

/* Button Style */
.Appoint-card button {
    background-color: #22A39F;
    color: #fff;
    border-radius:5px ;
    padding:10px ;
    cursor:pointer ;
    transition : all .3s ease ;
}

.Appoint-card button:hover {
    background-color:#fff ;
    color:#008080 ;
    border :1px solid #22A39F ;
}
.Appoint-card {
    width : calc(100% -20px) ;
}


@media only screen and (max-width :576px) {
    .card-top{
        height :100px ;
    }
    .Appoint-card h3{
        font-size :1.2rem ;
    }
    .Appoint-card p{
        font-size :1rem ;
    }
    .Appoint-card button{
        padding :5px ;
        font-size :.9rem ;
    }
}
.id-card {
   background-color:#22A39F ;
   padding :10px ;
   border-radius :5px ;
   text-align:center ;
   width :20% ;
   box-shadow :0px 0px px rgba(0,0,0,.3) ;
   font-family :'Helvetica Neue', sans-serif ;
   font-size :14px ;
   font-weight:bold ;
   color:#fff
}