.regetrationContainer {

 width: 900px;
 margin:  auto;
 margin-top: 50px;
 background-color:inherit;
 padding: 20px;
 border: 2px solid rgb(255, 255,255, 0.5);
 border-radius: 20px;
 background-color: transparent;
 backdrop-filter: blur(20px);
box-shadow: 0 0 30px rgb(34, 34, 34);
}
.formLogin{
padding: 40px; 
}


h1 {
 text-align: center;
 font-size: 36px;
 margin-top: 0;
 margin-bottom: 20px;
 color:rgb(34, 34, 34);
}

.formLogin label {
 display: block;
 font-size: 18px;
 font-weight: 700;
 margin-bottom: 5px;
 color:rgb(34, 34, 34);
 width: 100%
}
.input-boxl{
position: relative;
width: 100%;
height: 50px;
 border-bottom: 3px solid rgb(34, 34, 34);
 margin: 10px 0px;
}
form input {
 
 width: 100%;
 padding: 10px 15px;
 
 font-size: 16px;
 border: none;
 border-radius: 5px;
 margin-bottom: 20px;
 box-shadow: inset 0 -10px 15px rgba(255, 255, 255, 0.1),
             inset 0 10px 10px rgba(0, 0, 0, 0.1);
}
form h3{
 
 margin-top: 00px;
 font-size: 1em;
 color:rgb(34, 34, 34);
 display: flex;
 justify-content: center;
}
form h3 a{
 cursor: pointer;
 text-decoration: none;
 color:rgb(34, 34, 34);
 font-size: 17px;
}
button {
 display: block;
 font-size: 20px;
 font-weight: bold;
 padding: 10px 20px;

 border: none;
 border-radius: 5px;
 background-color:#22A39F;
 color: #fff;
 cursor: pointer;
 width: 100%;
 margin-top: 20px;
}
button:hover{
 background-color: rgb(5, 3, 34);
}
.regetrationContainer form input[type="submit"]:active{
 opacity: 0.8;
}

@media screen and (max-width: 600px) {
 form input {
   width: calc(100% - 30px);
 }
}